##1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data efficiently for operations like retrieval, insertion, and deletion. They're crucial for optimizing performance in algorithms and managing data in real-world applications.

##2. What is Difference between mutable and immutable data types with examples:

Mutable data types can be changed after creation (e.g., lists, sets). Immutable data types cannot be changed (e.g., strings, tuples).
##3. What are the main differences between lists and tuples in Python:

Lists are mutable (can be changed), while tuples are immutable (cannot be changed). Lists use square brackets [], tuples use parentheses ().

##4. Describe how dictionaries store data:

Dictionaries store data as key-value pairs, allowing fast lookups using keys.

##5. Why might you use a set instead of a list in Python?

Sets are unordered collections that automatically remove duplicates, offering faster membership testing.

##6. What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters. Unlike lists, strings cannot be modified, and elements are accessed using indexes, but lists can hold different data types.

##8. How do tuples ensure data integrity in Python?

Since tuples are immutable, their contents cannot be changed after creation, ensuring data integrity.

##9. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values. Python dictionaries use a hash table to store key-value pairs efficiently.

##9. Can lists contain different data types in Python?

Yes, lists can contain elements of different data types (e.g., integers, strings, lists).

##10. Explain Why are strings immutable in Python?

Strings are immutable to optimize performance and memory management, ensuring they are hashable and used as dictionary keys.

#11. What advantages of dictionaries over lists for certain tasks:

Dictionaries allow for faster lookups based on keys, whereas lists require sequential searches.

##12. Describe a scenario where a tuple would be preferable over a list:

A tuple is preferable when the data should remain unchanged, like storing fixed configuration values or return values from a function.

##13. How do sets handle duplicate values in Python?

Sets automatically remove duplicates and only store unique elements.

##14. How does the “in” keyword work differently for lists and dictionaries?

In lists, “in” checks if an element exists in the list. In dictionaries, “in” checks if a key exists in the dictionary.

##15. Can you modify the elements of a tuple?

No, tuples are immutable, so their elements cannot be changed once defined.

##16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary inside another dictionary. Example: Storing a student's grades in different subjects: {'student1': {'math': 90, 'science': 85}}.

##17. Describe the time complexity of accessing elements in a dictionary:

Accessing elements in a dictionary is generally O(1) on average, as it uses a hash table for efficient lookups.

##18. In what situations are lists preferred over dictionaries?

Lists are preferred when order matters or when storing collections of similar items.

##19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are unordered (before Python 3.7) because elements are stored based on hash values, affecting the order of key-value pairs.

##20. Explain the difference between a list and a dictionary in terms of data retrieval:

In lists, data is retrieved by index. In dictionaries, data is retrieved by keys. Lists maintain order, whereas dictionaries do not.

In [ ]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [ ]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
a=('apple', 'banana', 'cherry')
a[0]

'apple'

In [ ]:
#13. Write a code to count how many times
#the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
b=(1, 2, 3, 2, 4, 2)
b.count(2)

3

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
c=('dog', 'cat', 'rabbit')
c.index("cat")

1

In [ ]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
d = ('apple', 'orange', 'banana')
print("banana" in d)

True

In [ ]:
#16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [ ]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
b={1,2,3,4}
b.add(6)
print(b)

{1, 2, 3, 4, 6}

In [ ]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it
my_tuple=(10,20,30)
print(my_tuple)

(10, 20, 30)

In [ ]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
b=('apple', 'banana', 'cherry')
b[0]

'apple'

In [ ]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
b=(1, 2, 3, 2, 4, 2)
b.count(2)

3

In [ ]:
#21.	Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
a=('dog', 'cat', 'rabbit')
a.index("cat")

1

In [ ]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
c=('apple', 'orange', 'banana')
print("banana" in c)

True

In [ ]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s= {1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

In [ ]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}
s1= {1, 2, 3, 4}
s1.add(6)
print(s1)

{1, 2, 3, 4, 6}