#PRACTICAL

In [1]:
#1
def sum_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

# Example usage:
numbers = [1, 2, 3, 4, 5, 6]
print(sum_even_numbers(numbers))

12

In [2]:
#2
def reverse_string(s):
    return s[::-1]

# Example usage:
text = "Hello, World!"
print(reverse_string(text))

!dlroW ,olleH

In [3]:
#3.
def square_numbers(numbers):
    return [num ** 2 for num in numbers]

# Example usage:
numbers = [1, 2, 3, 4]
print(square_numbers(numbers))

[1, 4, 9, 16]

In [6]:
#4.
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example usage:
for num in range(1, 201):
    if is_prime(num):
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [7]:
#5.
class FibonacciIterator:
    def __init__(self, limit):
        self.limit = limit
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.limit:
            raise StopIteration
        result = self.a
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return result

# Example usage:
fib = FibonacciIterator(10)
for num in fib:
    print(num, end=" ")
# Output: 0 1 1 2 3 5 8 13 21 34

0 1 1 2 3 5 8 13 21 34

In [8]:
#6.
def powers_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

# Example usage:
for power in powers_of_two(5):
    print(power, end=" ")
# Output: 1 2 4 8 16 32

1 2 4 8 16 32

In [ ]:
#7.
ef read_file_line_by_line(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

# Example usage:
for line in read_file_line_by_line('example.txt'):
    print(line)

In [11]:
#8.
def sort_tuples_by_second_element(tuples):
    return sorted(tuples, key=lambda x: x[1])

# Example usage:
tuples = [(1, 3), (4, 1), (2, 2)]
print(sort_tuples_by_second_element(tuples))  # Output: [(4, 1), (2, 2), (1, 3)]

[(4, 1), (2, 2), (1, 3)]

In [12]:
#9.
def celsius_to_fahrenheit(celsius_list):
    return list(map(lambda c: (9/5) * c + 32, celsius_list))

# Example usage:
celsius = [0, 10, 20, 30]
print(celsius_to_fahrenheit(celsius))  # Output: [32.0, 50.0, 68.0, 86.0]

[32.0, 50.0, 68.0, 86.0]

In [13]:
#10
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    return ''.join(filter(lambda char: char not in vowels, s))

# Example usage:
text = "Hello, World!"
print(remove_vowels(text))  # Output: "Hll, Wrld!"

Hll, Wrld!